version: '3.8'

services:
  backend:
    # image: ${DOCKER_REGISTRY-}echomind-backend:latest
    image: jaseem000/echomind-backend:latest
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - PORT=5000
      - AI_ENDPOIND=http://localhost:1234/v1
      - AI_MODEL=e1
      - LOG_LEVEL=info
      - FRONTEND_ENDPOINT=http://localhost:5173
      # Secret handling - will be populated by the entrypoint script
      - JWT_SECRET
      - MONGO_PASSWORD
      - MONGO_URI
      - MONGO_USERNAME
    volumes:
      - ./docker-entrypoint.sh:/docker-entrypoint.sh
    secrets:
      - JWT_SECRET
      - MONGO_PASSWORD
      - MONGO_URI
      - MONGO_USERNAME
    entrypoint: ["/bin/sh", "/docker-entrypoint.sh"]
    command: ["node", "dist/server.js"]
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    depends_on:
      - mongodb
    restart: unless-stopped
    networks:
      - echomind_backend_net
      # - echomind_public_net
      # - echomind_private_net

  mongodb:
    image: mongo:latest
    volumes:
      - mongodb_data:/data/db
      - ./mongo-init.sh:/docker-entrypoint-initdb.d/mongo-init.sh:ro
    environment:
      - MONGO_INITDB_DATABASE=echomind
    secrets:
      - MONGO_USERNAME
      - MONGO_PASSWORD
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - echomind_backend_net
      # - echomind_private_net

  mongo-express:
    image: mongo-express:latest
    ports:
      - "8081:8081"
    networks:
      - echomind_backend_net
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongodb
    secrets:
      - source: MONGO_USERNAME
        target: ME_CONFIG_MONGODB_ADMINUSERNAME
      - source: MONGO_PASSWORD
        target: ME_CONFIG_MONGODB_ADMINPASSWORD
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    depends_on:
      - mongodb
    restart: unless-stopped

secrets:
  MONGO_USERNAME:
    external: true
  MONGO_URI:
    external: true
  MONGO_PASSWORD:
    external: true
  JWT_SECRET:
    external: true

volumes:
  mongodb_data:
    driver: local

networks:
  echomind_backend_net:
    driver: overlay
  echomind_private_net:
    internal: true
    driver: overlay
  echomind_public_net:
    driver: overlay
    external: false